{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Heart Ecology - About us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{%  static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static  'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css'%}">

  <link rel="stylesheet" href="{% static 'css/style.css'%}">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="{%  url 'home'%}" class="site-logo">
              Heart Ecology
            </a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>



            
          </div>
          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                  <a href="{% url 'home'%}" class="nav-link text-center" >首页</a>
                </li>
                <li>
                  <a href="{% url 'news'%}" class="nav-link text-center">新闻活动</a>
                </li>
                <li>
                  <a href="{% url 'kepu'%}" class="nav-link text-center">科普课堂</a>
                </li>
                <li>
                  <a href="{% url 'ceshi'%}" class="nav-link text-center">心理健康测试</a>
                </li>
                <li>
                    <a href="{% url 'yuyue'%}" class="nav-link text-center">线上预约</a>
                </li>
                <li>
                    <a href="{% url 'about'%}" class="nav-link text-center">关于我们</a>
                </li>
                <li>
                    <a href="{% url 'contact'%}" class="nav-link text-center">联系我们</a>
                </li>
              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
            <div class="section-title mb-5">
              <h2>关于我们</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>
              <img src="{% static 'images/univinabout.jpg'%}" alt="Image" class="img-fluid">
            </p>
          </div>
          <div class="col-lg-6 pl-md-5">
            <p>Heart Ecology 是业界第一家以高等院校学生群体为目标，深度研究高校学生心理健康成长变化的公司。我们专注高校领域，为青年学子成长经历中遇到的各种问题出谋划策，为学子成长保驾护航。</p>
            <p>我们和多所高校深度合作，通过线上基于人工智能的问卷评测和线下咨询相结合，一方面提高沟通精准性，另一方面更好服务学生。</p>
            <ul class="ul-check list-unstyled success mt-5">
              <li>智能量表评价</li>
              <li>专业咨询师团队</li>
              <li>与高等院校深度合作</li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <!-- END section -->
    
    
    <div class="footer">
      <div class="container">
        

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Heart Ecology</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

 <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'js/jquery.sticky.js'%}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js'%}"></script>
  <script src="{%static 'js/main.js'%}"></script>

</body>

</html>