{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Heart Ecology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{%  static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static  'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css'%}">

  <link rel="stylesheet" href="{% static 'css/style.css'%}">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="{% url 'home' %}" class="site-logo">
              Heart Ecology
            </a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block">        
                  <a class="btn btn-light d-inline-block p-2 mr-3" style="color:black; background-color:	GhostWhite;" href="{% url 'accounts:log_in' %}">Log in</a>
                  <a href="{% url 'accounts:sign_up' %}" class="btn btn-light d-inline-block p-2 mr-3" style="color:black; background-color:	GhostWhite;">Log up</a>
            </div>
            <!-- <form action="#" class="search-form d-inline-block">

              <div class="d-flex">
                <input type="email" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-secondary" ><span class="icon-search"></span></button>
              </div>
            </form> -->

            
          </div>
          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                  <a href="{% url 'home'%}" class="nav-link text-center" >首页</a>
                </li>
                <li>
                  <a href="{% url 'news'%}" class="nav-link text-center">新闻活动</a>
                </li>
                <li>
                  <a href="{% url 'kepu'%}" class="nav-link text-center">科普课堂</a>
                </li>
                <li>
                  <a href="{% url 'ceshi'%}" class="nav-link text-center">心理健康测试</a>
                </li>
                <li><a href="{% url 'yuyue'%}" class="nav-link text-center">线上预约</a></li>
                <li>
                    <a href="{% url 'about'%}" class="nav-link text-center">关于我们</a>
                </li>
                  <li>
                    <a href="{% url 'contact'%}" class="nav-link text-center">联系我们</a>
                </li>

              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>



    <div class="site-section py-0">
      <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/cooper1.jpg'%}')"></div>
              <div class="contents">
                <span class="caption">写在前面 01</span>
                <h2><a href="{% url '404' %}">当你的生命中多了些同行的人</a></h2>
                <p class="mb-3">
                    在美国哈佛大学，有一门非常火爆的心理学课程叫《幸福公开课》，授课老师沙哈尔在课上说：
                    影响幸福感的因素有信仰、经济地位、运动以及人际交往所带来的社会支持。在这些因素的其中，人
                    际交往所带来的社会支持可以帮助我们完善个性、分享喜悦、宣泄忧虑、产生安全感和归属感，能够有
                    较强心理承受能力。<br>
                    集体的力量，也许有些同学已经认识到了它的宝贵；也许有些同学暂时对此感受还不深；也许有些同学会
                    随着大学生活的推进，越来越体会到它的珍贵。
                </p>
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}

              </div>
            </div>
          </div>
        </div>

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/h1.jpg'%}')"></div>
              <div class="contents">
                <span class="caption">写在前面 02</span>
                <h2><a href="{% url '404' %}">自信对一个人来说有多重要</a></h2>
                <p class="mb-3">
                    萧伯纳说过：<b>有信心的人，可以化渺小为伟大，化平庸为神奇。</b><br>
                    自信是一个人幸福生活的重要元素，有自信的人往往生活的更加愉快，会让我们的生活和工作更
                    加顺利。但自信并非“从天而降”，要建立起自信，就需要我们理解自信是什么？有什么提高我们
                    自信的方法？然后接纳自己的优点和不足，善待自己，爱自己。自信是可以自己建立的。 要建立起自信，
                    让自己有心理效能感，就需要我们有不破不立的勇气。<br>
                    人生漫长，我们要努力的经营自己的生活。<br>
                    希望我们都能成为自信的人。
                </p>
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}

              </div>
            </div>
          </div>
        </div>

            <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/h2.jpg'%}')"></div>
              <div class="contents">
                <span class="caption">写在前面 03</span>
                <h2><a href="{% url '404' %}">遇到问题，我们该怎样去思考</a></h2>
                <p class="mb-3">
                    人们渴望的幸福状态根本不存在，因为生活就是一个问题接着一个问题，痛苦永远无法避免，就
                    算你得到了自己想要得到的，你很快就会发现，不满和痛苦依然存在，各种各样的问题照旧接踵而至。
                    所以，这个世界上没有一劳永逸的幸福，幸福只有通过不断解决问题来获得，解决问题才是快乐的本源。
                    这个世界上其实不存在解决不了的问题，因为如果改变不了客观环境，那就改变自己。<br>
                    这样说来，幸福的难题就能得到解决了——幸福的关键不在于拥有，而在于学会解决问题，而
                    想要解决问题，我们就得懂得如何思考问题。
                </p>
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">

            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2>科普课堂</h2>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="post-entry-1">
                  <a href="{% url '404' %}"><img src="{% static 'images/img_h_1.jpg'%}" alt="Image" class="img-fluid"></a>
                  <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url('{% static 'images/img_v_1.jpg'%}')"></div>
                  <div class="contents">
                    <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/img_v_2.jpg'%}')"></div>
                  <div class="contents">
                    <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/img_v_3.jpg'%}')"></div>
                  <div class="contents">
                    <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="section-title">
              <h2>新闻活动</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="{% url '404' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            
            <p>
              <a href="#" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- END section -->

      <div class="site-section ">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/expert1kou.png'%}')"></div>
              <div class="img-bg" style="background-image: url('{% static 'images/expert3kou.png'%}')"></div>
          <div class="contents">
            <span class="caption"></span>
            <h2><a href="{% url 'about' %}">一流的咨询师团队</a></h2>
            <p class="mb-3">Heart Ecology 汇集了教育心理及咨询心理等一批极具丰富实践经验的心理咨询近20位，其中双语咨询师3名。
                咨询师们拥有数年的工作经验，数千小时的个案时长。业务范围还涉及新手心理咨询师成长实习，沙盘游戏咨询师、家庭教育
                指导师及婚姻家庭指导师学习培训，职业生涯规划，天赋测评等项目。公司不定期的到一些特殊社会群体开展公益性的心理健康
                知识讲座并定期举办心理沙龙，成为新手咨询师、心理学爱好者、来访者的交流平台。积极向社会传播心理健康知识，以前沿的心
                理咨询理念及技术，为求助者们提供各种心理咨询，帮助来访者从困惑、煎熬中走出心灵低谷，敞开心扉，享受生命的阳光。
                </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/wenjuan.png'%}')"></div>
          <div class="contents">
            <span class="caption"></span>
            <h2><a href="{% url 'about' %}">创新性问卷量表评价</a></h2>
            <p class="mb-3">Heart Ecology 通过创新量表评价机制并结合机器学习建模方法，对受试者填写的问卷结果进行全面科学的分析，
                在线下咨询前提早做好分类和情况预估，对不同的问卷结果分以分析，结合当下高校学生面临的现实问题和可能的心情结果科学分析。
                帮助学生树立出现心理行为问题时的求助意识，促进学生形成健康的心理素质，维护学生的心理健康，减少和避免对他们心理健康的各种不利影响；
                培养身心健康，具有创新精神和实践能力的有理想、有道理、有文化、有纪律的一代新人。
                </p>
          </div>
        </div>
      </div>
    </div>

{#    <div class="site-section">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-lg-6">#}
{#            <div class="section-title">#}
{#              <h2>Politics</h2>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_1.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_2.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_3.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-lg-6">#}
{#            <div class="section-title">#}
{#              <h2>Business</h2>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_1.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_2.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_3.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}



{#    <div class="site-section">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-lg-9">#}
{#            <div class="section-title">#}
{#              <h2>Recent News</h2>#}
{#            </div>#}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail order-md-2" style="background-image: url('{% static 'images/img_h_4.jpg'%}')"></div>#}
{#              <div class="contents order-md-1 pl-0">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail order-md-2" style="background-image: url('{% static 'images/img_h_3.jpg'%}')"></div>#}
{#              <div class="contents order-md-1 pl-0">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="post-entry-2 d-flex">#}
{#              <div class="thumbnail order-md-2" style="background-image: url({% static  'images/img_h_3.jpg'%})"></div>#}
{#              <div class="contents order-md-1 pl-0">#}
{#                <span class="caption mb-4 d-block">Editor's Pick</span>#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-lg-3">#}
{#            <div class="section-title">#}
{#              <h2>Popular Posts</h2>#}
{#            </div>#}
{##}
{#            <div class="trend-entry d-flex">#}
{#              <div class="number align-self-start">01</div>#}
{#              <div class="trend-contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="trend-entry d-flex">#}
{#              <div class="number align-self-start">02</div>#}
{#              <div class="trend-contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="trend-entry d-flex">#}
{#              <div class="number align-self-start">03</div>#}
{#              <div class="trend-contents">#}
{#                <h2><a href="blog-si ngle.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="trend-entry d-flex pl-0">#}
{#              <div class="number align-self-start">04</div>#}
{#              <div class="trend-contents">#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            #}
{#            <p>#}
{#              <a href="#" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#          <div class="col-lg-6">#}
{#            <ul class="custom-pagination list-unstyled">#}
{#              <li><a href="#">1</a></li>#}
{#              <li class="active">2</li>#}
{#              <li><a href="#">3</a></li>#}
{#              <li><a href="#">4</a></li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

{#      <div class="site-section py-0">#}
{#      <div class="owl-carousel hero-slide owl-style">#}
{##}
{#        <div class="site-section">#}
{#          <div class="container">#}
{#            <div class="half-post-entry d-block d-lg-flex bg-light">#}
{#              <div class="img-bg" style="background-image: url('{% static 'images/expert.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <span class="caption">Editor's Pick</span>#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>#}
{##}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="site-section">#}
{#          <div class="container">#}
{#            <div class="half-post-entry d-block d-lg-flex bg-light">#}
{#              <div class="img-bg" style="background-image: url('{% static 'images/big_img_1.jpg'%}')"></div>#}
{#              <div class="contents">#}
{#                <span class="caption">Editor's Pick</span>#}
{#                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>#}
{#                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>#}
{##}
{#                <div class="post-meta">#}
{#                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>#}
{#                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{##}
{#      </div>#}
    <div class="site-section subscribe bg-light">
      <div class="container">
        <div action="#" class="row align-items-center">
{#          <div class="col-md-5 mr-auto">#}
            <h2 class="m-auto">Heart Ecology 线下心理健康咨询预约</h2>
            <p><br><br></p>
            <p>Heart Ecology 与多家高校经过协商设立绿色通道，以单位和单位合作的形式，借助 Heart Ecology 的线上心理健康服务
                做好前期分流，依托各高校专业心理健康服务力量形成服务闭环。您提交的信息将会被严格保密，并提交至你选择高校的心理健康服务点。
                请注意，对于高校服务，您仅可以选择本校或外校对您学校授权的服务机构；对于机构服务，请选择于您方便的服务机构，不过，这可能会产生一定的费用。
        </div>
          <p><br></p>
          <div class="container">
              <a href="{% url 'yuyue' %}"><img  src="{% static 'images/buttonback_1.png'%}" class="m-auto" style="display:block;top:442px;transform:scale(0.6)"></a>
        </div>
      </div>

    </div>


    
    <div class="footer">
      <div class="container">
        

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Heart Ecology</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
         <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
         <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/>
      </svg>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'js/jquery.sticky.js'%}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js'%}"></script>
  <script src="{%static 'js/main.js'%}"></script>

</body>

</html>